In [1]:
# DAY 2

In [2]:
int('123')

123

In [5]:
age = 90
#1 :
print(f'my age is {age}')
#2:
print('my age is',age)
#3

my age is 90
my age is 90

In [10]:
print('my age is - {}'.format(0))

my age is - 0

In [7]:
name = 'Devanshi'
age = 19

In [12]:
print(' my name is : {0}, and my age is : {1}'.format(name,age))

 my name is : Devanshi, and my age is : 19

In [13]:
# place holder
name = 'Devanshi'
age = 20
country = 'Germany'

In [14]:
print('my name is : {fn}, i am {age} years old, and i am from {mycont}'.format(fn=name,age=age,mycont=country))

my name is : Devanshi, i am 20 years old, and i am from Germany

In [15]:
print('my name is {1}, my age is {0}, my country is {2}'.format(age,name,country))

my name is Devanshi, my age is 20, my country is Germany

In [16]:
name = 'Devanshi Awasthi'
age = 20
degree = 'btech'

In [18]:
# f function
print(f'my age is {age}, i have completed : my degree of {degree}, with the name  {name}')
# .format function 
print('my age is {}, i have completed my degree of {}, with the name of {}'.format(age,degree,name))
# .format function with indexing
print('my age is {2}, i hav completed my degree of {1}, with the name of {0}'.format(name,degree,age))

my age is 20, i have completed : my degree of btech, with the name  Devanshi Awasthi
my age is 20, i have completed my degree of btech, with the name of Devanshi Awasthi
my age is 20, i hav completed my degree of btech, with the name of Devanshi Awasthi

In [ ]:
# if statements

In [19]:
age = 18
if age >= 18:
    print('you are allowed to vote')
else:
    print('do not vote')

you are allowed to vote

In [21]:
a = input()

devanhsi

In [22]:
a

'devanhsi'

In [ ]:
name = input('enter the name : ')

In [ ]:
name

In [ ]:
age - 19